@use "../partials/index" as p;

.container {
	margin: 0 auto;
	width: p.$contanier-width-lg;
}

section {
	padding: 6rem 0;
}

section h2 {
	text-align: center;
	margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
}

h1 {
	font-size: 2.4rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.3rem;
}

a {
	color: p.$color-white;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

.btn {
	display: inline-block;
	background: p.$color-white;
	color: p.$color-black;
	padding: 1rem 2rem;
	border: 1px solid transparent;
	font-weight: 500;
	transition: p.$transtion;
}

.btn:hover {
	background: transparent;
	color: p.$color-white;
	border-color: p.$color-white;
}

.btn-primary {
	background: p.$color-danger;
	color: p.$color-white;
}
